<a href="https://colab.research.google.com/github/hbankar11/Pyspark_Learning/blob/main/Revision_CompletePySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [2]:
#Just Checking PySpark is Installed or not
from pyspark.sql import SparkSession

In [3]:
#Creating Spark Session
spark_session = SparkSession.builder.appName("Revision_CompletePySpark").getOrCreate()

In [ ]:
#Create SparkContext in PySpark
from pyspark.sql import SparkSession

spark_session = SparkSession.builder.appName("Revision_PySpark").getOrCreate()
print(spark_session.sparkContext)
print("Spark App Name : " + spark_session.sparkContext.appName)

<SparkContext master=local[*] appName=Revision_CompletePySpark>
Spark App Name : Revision_CompletePySpark

In [ ]:
#Stop PySpark SparkContext
#When PySpark executes this statement, it logs the message INFO SparkContext: Successfully stopped SparkContext to console or to a log file.
spark_session.sparkContext.stop()

In [ ]:
#Create RDD using parallelize
data = [1,2,3,4,5,6,7,8,9,10]
rdd = spark_session.sparkContext.parallelize(data)
rdd.collect()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#create RDD using sparkContext.textFile()
rdd2 = spark_session.sparkContext.textFile("/path/textFile.txt")

In [ ]:
#create RDD using sparkContext.wholeTextFiles()
rdd3 = spark_session.sparkContext.wholeTextFiles("<path>")

In [ ]:
#Create empty RDD using sparkContext.emptyRDD
emptyRDD = spark_session.sparkContext.emptyRDD

In [ ]:
#Creating empty RDD with partition
emptyRDDPartition = spark_session.sparkContext.parallelize([],10)

In [ ]:
#RDD Partitions
#Get Partition count
print("Initial partition count : " + str(rdd.getNumPartitions()))

Initial partition count : 2

In [ ]:
#Set partition Manually
rddPartition = spark_session.sparkContext.parallelize([1,2,3],10)
rddPartition.collect()
rddPartition.getNumPartitions() #10

10

In [ ]:
#Repartition and coalesce
reparRdd = rdd.repartition(4)
#print("re-partition count : "+str(reparRdd.getNumPartitions()))
print("re-partition count:"+str(reparRdd.getNumPartitions()))

coalRdd = rdd.coalesce(2)
print("coalesce count:"+str(coalRdd.getNumPartitions()))

re-partition count:4
coalesce count:2

In [ ]:
#flatMap() : flattens all those sequences into a single RDD
rdd2 = rdd.flatMap(lambda x: x.split(" "))

In [ ]:
#map() : It allows you to apply a function to each element of an RDD, producing a new RDD with the transformed elements.
# Add a new element with value 1 to each word
rdd3 = rdd2.map(lambda x: (x,1))

In [ ]:
#reduceByKey() : combines the values associated with each key using the provided function.
rdd4 = rdd3.reduceByKey(lambda a,b: a+b)

In [ ]:
#sortByKey() : transformation arranges the elements of an RDD based on their keys.
# Using sortByKey()
rdd5 = rdd4.map(lambda x: (x[1],x[0])).sortByKey()

# Print rdd5 result to console
print(rdd5.collect())

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 2.0 failed 1 times, most recent failure: Lost task 0.0 in stage 2.0 (TID 12) (9a6fed870004 executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 1247, in main
    process()
  File "/usr/local/lib/python3.12/dist-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 1237, in process
    out_iter = func(split_index, iterator)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pyspark/rdd.py", line 5434, in pipeline_func
    return func(split, prev_func(split, iterator))
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pyspark/rdd.py", line 5434, in pipeline_func
    return func(split, prev_func(split, iterator))
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pyspark/rdd.py", line 840, in func
    return f(iterator)
           ^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pyspark/rdd.py", line 3983, in combineLocally
    merger.mergeValues(iterator)
  File "/usr/local/lib/python3.12/dist-packages/pyspark/python/lib/pyspark.zip/pyspark/shuffle.py", line 256, in mergeValues
    for k, v in iterator:
                ^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pyspark/python/lib/pyspark.zip/pyspark/util.py", line 83, in wrapper
    return f(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^
  File "/tmp/ipython-input-698648028.py", line 2, in <lambda>
AttributeError: 'int' object has no attribute 'split'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:572)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:784)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:766)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$GroupedIterator.fill(Iterator.scala:1211)
	at scala.collection.Iterator$GroupedIterator.hasNext(Iterator.scala:1217)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:140)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2856)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2792)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2791)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2791)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1247)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3060)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2994)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2983)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:989)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2398)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2419)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2438)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2463)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1049)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1048)
	at org.apache.spark.api.python.PythonRDD$.collectAndServe(PythonRDD.scala:195)
	at org.apache.spark.api.python.PythonRDD.collectAndServe(PythonRDD.scala)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 1247, in main
    process()
  File "/usr/local/lib/python3.12/dist-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 1237, in process
    out_iter = func(split_index, iterator)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pyspark/rdd.py", line 5434, in pipeline_func
    return func(split, prev_func(split, iterator))
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pyspark/rdd.py", line 5434, in pipeline_func
    return func(split, prev_func(split, iterator))
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pyspark/rdd.py", line 840, in func
    return f(iterator)
           ^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pyspark/rdd.py", line 3983, in combineLocally
    merger.mergeValues(iterator)
  File "/usr/local/lib/python3.12/dist-packages/pyspark/python/lib/pyspark.zip/pyspark/shuffle.py", line 256, in mergeValues
    for k, v in iterator:
                ^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pyspark/python/lib/pyspark.zip/pyspark/util.py", line 83, in wrapper
    return f(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^
  File "/tmp/ipython-input-698648028.py", line 2, in <lambda>
AttributeError: 'int' object has no attribute 'split'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:572)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:784)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:766)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$GroupedIterator.fill(Iterator.scala:1211)
	at scala.collection.Iterator$GroupedIterator.hasNext(Iterator.scala:1217)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:140)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more

In [ ]:
#RDD action:
#1: count() => Returns the number of records in an RDD
print("Count : "+str(rdd.count()))

#2: first() => Returns the first record.
firstRec = rdd.first()
print("First Record : "+str(firstRec))

#3:max() => Returns maximum record
datMax = rdd.max()
print("Maximum Record : "+str(datMax))

#4: reduce() => Reduces the records to single, we can use this to count or sum.
#totalWordCount = rdd.reduce(lambda a,b: (a[0]+b[0],a[1]))
#print("dataReduce Record : "+str(totalWordCount[0]))

#5: take() =>  Returns the record specified as an argument.
data = rdd.take(3)
print("Element at position 3 :"+str(data))

#6: saveAsTextFile() => Using saveAsTestFile action, we can write the RDD to a text file.
rdd.saveAsTextFile("/tmp/wordCount")

Count : 10
First Record : 1
Maximum Record : 10
Element at position 3 :[1, 2, 3]

In [ ]:
#Creating RDD from DataFrame and vice-versa
# Converts RDD to DataFrame
dfFromRDD1 = rdd.toDF()

# Converts RDD to DataFrame with column names
dfFromRDD2 = rdd.toDF("col1","col2")

# using createDataFrame() - Convert DataFrame to RDD
df = spark_session.createDataFrame(rdd).toDF("col1","col2")

# Convert DataFrame to RDD
rdd = df.rdd

PySparkTypeError: [CANNOT_INFER_SCHEMA_FOR_TYPE] Can not infer schema for type: `int`.

In [ ]:
#Dataframe
#1: Create empty RDD in Pyspark
emptyRDD = spark_session.sparkContext.emptyRDD()
print(emptyRDD)

#2: Alternative method to create empty RDD
emptyRDD1 = spark_session.sparkContext.parallelize([])
print(emptyRDD1)

#3:Create Empty DataFrame with Schema (StructType)
from pyspark.sql.types import StructField,StructType,StringType
schema = StructType([
    StructField('firstname',StringType(),True),
    StructField('middlename',StringType(),True),
    StructField('lastname',StringType(),True)
])

emptyDF = spark_session.createDataFrame(emptyRDD,schema)
emptyDF.printSchema()

EmptyRDD[22] at emptyRDD at NativeMethodAccessorImpl.java:0
ParallelCollectionRDD[23] at readRDDFromFile at PythonRDD.scala:289
root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)

In [ ]:
#Convert Empty RDD to DataFrame
df = emptyRDD.toDF(schema)
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)

In [ ]:
#Create Empty DataFrame with Schema.
df = spark_session.createDataFrame([],schema)
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)

In [ ]:
#Create Empty DataFrame without Schema (no columns)
df = spark_session.createDataFrame([],StructType([]))
df.printSchema()

root

In [ ]:
#Create pyspark RDD
dept = [("Finance",10),("Marketing",20),("Sales",30),("IT",40)]
rdd = spark_session.sparkContext.parallelize(dept)
rdd.collect()

[('Finance', 10), ('Marketing', 20), ('Sales', 30), ('IT', 40)]

In [ ]:
#Convert Pyspark rdd to dataframe
df = rdd.toDF()
df.printSchema()
df.show(truncate=False)

root
 |-- _1: string (nullable = true)
 |-- _2: long (nullable = true)

+---------+---+
|_1       |_2 |
+---------+---+
|Finance  |10 |
|Marketing|20 |
|Sales    |30 |
|IT       |40 |
+---------+---+

In [ ]:
deptColumns = ["dept_name","dept_id"]
df2 = rdd.toDF(deptColumns)
df2.printSchema()
df2.show(truncate=False)

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|IT       |40     |
+---------+-------+

In [ ]:
#Using Pyspark createDataFrame() function
deptDF = spark_session.createDataFrame(rdd,schema=deptColumns)
deptDF.printSchema()
deptDF.show(truncate=False)

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|IT       |40     |
+---------+-------+

In [ ]:
# Using createDataFrame() with StructType schema
from pyspark.sql.types import StringType,StructType,StructField,StringType,IntegerType

deptSchema = StructType([
    StructField("dept_name",StringType(),True),
    StructField("dept_id",IntegerType(),True),
])
deptDF1 = spark_session.createDataFrame(rdd,schema=deptSchema)
deptDF1.show(truncate=False)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|IT       |40     |
+---------+-------+

In [ ]:
# Convert pyspark Dataframe to Pandas Dataframe
# Consider below pyspark dataframe

data = [("James","","Smith","36636","M",60000),
        ("Michael","Rose","","40288","M",70000),
        ("Robert","","Williams","42114","",400000),
        ("Maria","Anne","Jones","39192","F",500000),
        ("Jen","Mary","Brown","","F",0)]

columns = ["first_name","middle_name","last_name","dob","gender","salary"]
pysparkDF = spark_session.createDataFrame(data = data, schema = columns)
#pysparkDF.printSchema()
#pysparkDF.show(truncate=False)

#Convert above pyspark dataframe to Pandas
pandasDF = pysparkDF.toPandas()
print(pandasDF)

  first_name middle_name last_name    dob gender  salary
0      James                 Smith  36636      M   60000
1    Michael        Rose            40288      M   70000
2     Robert              Williams  42114         400000
3      Maria        Anne     Jones  39192      F  500000
4        Jen        Mary     Brown             F       0

In [ ]:
#PySpark show() – Display DataFrame Contents in Table
# Default - displays 20 rows and
# 20 charactes from column value
df.show()

#Display full column contents
df.show(truncate=False)

# Display 2 rows and full column contents
df.show(2,truncate=False)

# Display 2 rows & column values 25 characters
df.show(2,truncate=25)

# Display DataFrame rows & columns vertically
df.show(n=3,truncate=25,vertical=True)

In [ ]:
#Below example
columns = ["Seqno","Quote"]
data = [("1", "Be the change that you wish to see in the world"),
    ("2", "Everyone thinks of changing the world, but no one thinks of changing himself."),
    ("3", "The purpose of our lives is to be happy."),
    ("4", "Be cool.")]
df = spark_session.createDataFrame(data,columns)
df.show()
df.show(truncate=False)
df(2,truncate=False)

# Display 2 rows & column values 25 characters
df.show(2,truncate=25)

# Display DataFrame rows & columns vertically
df.show(n=3,truncate=25,vertical=True)

+-----+-----------------------------------------------------------------------------+
|Seqno|Quote                                                                        |
+-----+-----------------------------------------------------------------------------+
|1    |Be the change that you wish to see in the world                              |
|2    |Everyone thinks of changing the world, but no one thinks of changing himself.|
|3    |The purpose of our lives is to be happy.                                     |
|4    |Be cool.                                                                     |
+-----+-----------------------------------------------------------------------------+

In [ ]:
#PySpark StructType & StructField Explained with Examples
#Using PySpark StructType & StructField with DataFrame
from pyspark.sql.types import StructType,StructField,StringType,IntegerType
data = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]

schema = StructType([
    StructField("First_Name",StringType(),True),
    StructField("Middle_Name",StringType(),True),
    StructField("Last_Name",StringType(),True),
    StructField("ID",StringType(),True),
    StructField("Gender",StringType(),True),
    StructField("Salary",IntegerType(),True)

])

df = spark_session.createDataFrame(data,schema)
df.printSchema()
df.show(truncate=False)

root
 |-- First_Name: string (nullable = true)
 |-- Middle_Name: string (nullable = true)
 |-- Last_Name: string (nullable = true)
 |-- ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Salary: integer (nullable = true)

+----------+-----------+---------+-----+------+------+
|First_Name|Middle_Name|Last_Name|ID   |Gender|Salary|
+----------+-----------+---------+-----+------+------+
|James     |           |Smith    |36636|M     |3000  |
|Michael   |Rose       |         |40288|M     |4000  |
|Robert    |           |Williams |42114|M     |4000  |
|Maria     |Anne       |Jones    |39192|F     |4000  |
|Jen       |Mary       |Brown    |     |F     |-1    |
+----------+-----------+---------+-----+------+------+

In [ ]:
# Defining schema using nested StructType
from pyspark.sql.types import StructType,StructField,StringType
structureData = [
    (("James","","Smith"),"36636","M",3100),
    (("Michael","Rose",""),"40288","M",4300),
    (("Robert","","Williams"),"42114","M",1400),
    (("Maria","Anne","Jones"),"39192","F",5500),
    (("Jen","Mary","Brown"),"","F",-1)
]

schema = StructType([
    StructField("Name",StructType([
        StructField("FirstName",StringType(),True),
        StructField("MiddleName",StringType(),True),
        StructField("LastName",StringType(),True),]),True),
    StructField("ID",StringType(),True),
    StructField("Gender",StringType(),True),
    StructField("Salary",StringType(),True)
])

df = spark_session.createDataFrame(structureData,schema)
df.printSchema()
df.show(truncate=False)

root
 |-- Name: struct (nullable = true)
 |    |-- FirstName: string (nullable = true)
 |    |-- MiddleName: string (nullable = true)
 |    |-- LastName: string (nullable = true)
 |-- ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Salary: string (nullable = true)

+--------------------+-----+------+------+
|Name                |ID   |Gender|Salary|
+--------------------+-----+------+------+
|{James, , Smith}    |36636|M     |3100  |
|{Michael, Rose, }   |40288|M     |4300  |
|{Robert, , Williams}|42114|M     |1400  |
|{Maria, Anne, Jones}|39192|F     |5500  |
|{Jen, Mary, Brown}  |     |F     |-1    |
+--------------------+-----+------+------+

In [ ]:
#1. Create Column Class Object
from pyspark.sql.functions import lit
colObj = lit("sparkbyexamples.com")

In [ ]:
from os import truncate
data=[("James",23),("Ann",40)]
df=spark_session.createDataFrame(data).toDF("name.fname","gender")
df.printSchema()
#root
# |-- name.fname: string (nullable = true)
# |-- gender: long (nullable = true)

# Using DataFrame object (df)
df.select(df.gender).show(truncate=False)
df.select(df["gender"]).show(truncate=False)

#Accessing column name with dot operator
df.select(df["`name.fname`"]).show(truncate=False)

#Using SQL col() function
from pyspark.sql.functions import col
df.select(col("gender")).show(truncate=False)

#Accessing column name with dot (with backticks)
df.select(col("`name.fname`")).show(truncate=False)

root
 |-- name.fname: string (nullable = true)
 |-- gender: long (nullable = true)

+------+
|gender|
+------+
|23    |
|40    |
+------+

+------+
|gender|
+------+
|23    |
|40    |
+------+

+----------+
|name.fname|
+----------+
|James     |
|Ann       |
+----------+

+------+
|gender|
+------+
|23    |
|40    |
+------+

+----------+
|name.fname|
+----------+
|James     |
|Ann       |
+----------+

In [ ]:
#Create DataFrame with struct using Row class
from pyspark.sql import Row

data=[Row(name="James",prop=Row(hair="black",eye="blue")),
      Row(name="Ann",prop=Row(hair="grey",eye="black"))]

df = spark_session.createDataFrame(data)
df.printSchema()

#Access struct column
df.select(df.prop.hair).show(truncate=False)
df.select(df["prop.hair"]).show(truncate=False)
df.select(col("prop.hair")).show(truncate=False)

#Access all columns from struct
df.select(col("prop.*")).show(truncate=False)

root
 |-- name: string (nullable = true)
 |-- prop: struct (nullable = true)
 |    |-- hair: string (nullable = true)
 |    |-- eye: string (nullable = true)

+---------+
|prop.hair|
+---------+
|black    |
|grey     |
+---------+

+-----+
|hair |
+-----+
|black|
|grey |
+-----+

+-----+
|hair |
+-----+
|black|
|grey |
+-----+

+-----+-----+
|hair |eye  |
+-----+-----+
|black|blue |
|grey |black|
+-----+-----+

In [ ]:
from pyspark.sql.functions import col
data=[(100,2,1),(200,3,4),(300,4,4)]
df=spark_session.createDataFrame(data).toDF("col1","col2","col3")

#Arthmetic operations
df.select(col("col1") + col("col2")).show(truncate=False)
df.select(col("col1") - col("col2")).show(truncate=False)
df.select(col("col1") * col("col2")).show(truncate=False)
df.select(col("col1") / col("col2")).show(truncate=False)

df.select(col("col1") % col("col2")).show(truncate=False)

df.select(col("col1") == col("col2")).show(truncate=False)
df.select(col("col1") > col("col2")).show(truncate=False)
df.select(col("col1") < col("col2")).show(truncate=False)

+-------------+
|(col1 + col2)|
+-------------+
|102          |
|203          |
|304          |
+-------------+

+-------------+
|(col1 - col2)|
+-------------+
|98           |
|197          |
|296          |
+-------------+

+-------------+
|(col1 * col2)|
+-------------+
|200          |
|600          |
|1200         |
+-------------+

+-----------------+
|(col1 / col2)    |
+-----------------+
|50.0             |
|66.66666666666667|
|75.0             |
+-----------------+

+-------------+
|(col1 % col2)|
+-------------+
|0            |
|2            |
|0            |
+-------------+

+-------------+
|(col1 = col2)|
+-------------+
|false        |
|false        |
|false        |
+-------------+

+-------------+
|(col1 > col2)|
+-------------+
|true         |
|true         |
|true         |
+-------------+

+-------------+
|(col1 < col2)|
+-------------+
|false        |
|false        |
|false        |
+-------------+

In [ ]:
from pyspark.sql.functions import expr,col
data=[("James","Bond","100",None),
      ("Ann","Varsa","200",'F'),
      ("Tom Cruise","XXX","400",''),
      ("Tom Brand",None,"400",'M')]
columns=["fname","lname","id","gender"]
df=spark_session.createDataFrame(data,columns)

#alias() – Set’s name to Column
df.select(df.fname.alias("First_Name"), \
          df.lname.alias("Last_Name")).show(truncate=False)

#Another Example
df.select(expr("fname ||' '|| lname").alias("Full_Name")).show(truncate=False)

+----------+---------+
|First_Name|Last_Name|
+----------+---------+
|James     |Bond     |
|Ann       |Varsa    |
|Tom Cruise|XXX      |
|Tom Brand |NULL     |
+----------+---------+

+--------------+
|Full_Name     |
+--------------+
|James Bond    |
|Ann Varsa     |
|Tom Cruise XXX|
|NULL          |
+--------------+

In [ ]:
# asc() & desc() – Sort the DataFrame columns by Ascending or Descending order.
df.sort(df.fname.asc()).show()
df.sort(df.fname.desc()).show()

+----------+-----+---+------+
|     fname|lname| id|gender|
+----------+-----+---+------+
|       Ann|Varsa|200|     F|
|     James| Bond|100|  NULL|
| Tom Brand| NULL|400|     M|
|Tom Cruise|  XXX|400|      |
+----------+-----+---+------+

+----------+-----+---+------+
|     fname|lname| id|gender|
+----------+-----+---+------+
|Tom Cruise|  XXX|400|      |
| Tom Brand| NULL|400|     M|
|     James| Bond|100|  NULL|
|       Ann|Varsa|200|     F|
+----------+-----+---+------+

In [ ]:
# cast() & astype() – Used to convert the data Type.
df.select(df.fname,df.id.cast('int')).printSchema()

root
 |-- fname: string (nullable = true)
 |-- id: integer (nullable = true)

In [ ]:
#between() – Returns a Boolean expression when a column values in between lower and upper bound.
df.filter(df.id.between(100,300)).show(truncate=False)

+-----+-----+---+------+
|fname|lname|id |gender|
+-----+-----+---+------+
|James|Bond |100|NULL  |
|Ann  |Varsa|200|F     |
+-----+-----+---+------+

In [ ]:
# contains() -
df.filter(df.fname.contains("Cruise")).show(truncate=False)

+----------+-----+---+------+
|fname     |lname|id |gender|
+----------+-----+---+------+
|Tom Cruise|XXX  |400|      |
+----------+-----+---+------+

In [ ]:
# startsWith and endsWith()
df.filter(df.fname.startswith("T")).show(truncate=False)
df.filter(df.fname.endswith("Cruise")).show(truncate=False)

+----------+-----+---+------+
|fname     |lname|id |gender|
+----------+-----+---+------+
|Tom Cruise|XXX  |400|      |
|Tom Brand |NULL |400|M     |
+----------+-----+---+------+

+----------+-----+---+------+
|fname     |lname|id |gender|
+----------+-----+---+------+
|Tom Cruise|XXX  |400|      |
+----------+-----+---+------+

In [ ]:
# isNull & isNotNull() – Checks if the DataFrame column has NULL or non NULL values.
df.filter(df.lname.isNull()).show(truncate=False)
df.filter(df.lname.isNotNull()).show(truncate=False)

+---------+-----+---+------+
|fname    |lname|id |gender|
+---------+-----+---+------+
|Tom Brand|NULL |400|M     |
+---------+-----+---+------+

+----------+-----+---+------+
|fname     |lname|id |gender|
+----------+-----+---+------+
|James     |Bond |100|NULL  |
|Ann       |Varsa|200|F     |
|Tom Cruise|XXX  |400|      |
+----------+-----+---+------+

In [ ]:
# like() & rlike() – Similar to SQL LIKE expression
df.select(df.fname,df.lname,df.id) \
  .filter(df.fname.like("%om%")) \
  .show(truncate=False)

+----------+-----+---+
|fname     |lname|id |
+----------+-----+---+
|Tom Cruise|XXX  |400|
|Tom Brand |NULL |400|
+----------+-----+---+

In [ ]:
# substr() – Returns a Column after getting sub string from the Column
df.select(df.fname.substr(1,2).alias("substr")).show(truncate=False)

+------+
|substr|
+------+
|Ja    |
|An    |
|To    |
|To    |
+------+

In [ ]:
# when() & otherwise() – It is similar to SQL Case When, executes sequence of expressions until it matches the condition and returns a value when match.

from pyspark.sql.functions import when
df.select(df.fname,df.lname,when(df.gender == 'M','Male') \
                           .when(df.gender == 'F','Female') \
                           .when(df.gender == None, "") \
                           .otherwise(df.gender).alias("gender")).show(truncate=False)

+----------+-----+------+
|fname     |lname|gender|
+----------+-----+------+
|James     |Bond |NULL  |
|Ann       |Varsa|Female|
|Tom Cruise|XXX  |      |
|Tom Brand |NULL |Male  |
+----------+-----+------+

In [ ]:
# isin() – Check if value presents in a List.
li = ['100','200']
df.select(df.fname,df.lname,df.id) \
  .filter(df.id.isin(li)) \
  .show(truncate=False)

+-----+-----+---+
|fname|lname|id |
+-----+-----+---+
|James|Bond |100|
|Ann  |Varsa|200|
+-----+-----+---+

In [ ]:
#getField() – To get the value by key from MapType column and by struct child name from StructType column
from pyspark.sql.types import StructType,StructField,StringType,ArrayType,MapType
data=[(("James","Bond"),["Java","C#"],{'hair':'black','eye':'brown'}),
      (("Ann","Varsa"),[".NET","Python"],{'hair':'brown','eye':'black'}),
      (("Tom Cruise",""),["Python","Scala"],{'hair':'red','eye':'grey'}),
      (("Tom Brand",None),["Perl","Ruby"],{'hair':'black','eye':'blue'})]

schema = StructType([
        StructField('name', StructType([
            StructField('fname', StringType(), True),
            StructField('lname', StringType(), True)])),
        StructField('languages', ArrayType(StringType()),True),
        StructField('properties', MapType(StringType(),StringType()),True)
])

df = spark_session.createDataFrame(data,schema)
df.select(df.properties.getField("hair")).show(truncate=False)

df.select(df.name.getField("fname")).show(truncate=False)

+----------------+
|properties[hair]|
+----------------+
|black           |
|brown           |
|red             |
|black           |
+----------------+

+----------+
|name.fname|
+----------+
|James     |
|Ann       |
|Tom Cruise|
|Tom Brand |
+----------+

In [ ]:
# getItem() – To get the value by index from MapType or ArrayTupe & ny key for MapType column.

#getItem() used with ArrayType
df.select(df.languages.getItem(1)).show()

#getItem() used with MapType
df.select(df.properties.getItem("hair")).show()

+------------+
|languages[1]|
+------------+
|          C#|
|      Python|
|       Scala|
|        Ruby|
+------------+

+----------------+
|properties[hair]|
+----------------+
|           black|
|           brown|
|             red|
|           black|
+----------------+

In [ ]:
# select-columns-from-pyspark-dataframe
# consider below example

data = [("James","Smith","USA","CA"),
    ("Michael","Rose","USA","NY"),
    ("Robert","Williams","USA","CA"),
    ("Maria","Jones","USA","FL")
]

# Column names
columns = ["firstname","lastname","country","state"]

df = spark_session.createDataFrame(data,columns)
df.printSchema()

#1: Select Single & Multiple Columns From PySpark
df.select("firstname","lastname").show(truncate=False)
df.select(df.firstname,df.lastname).show(truncate=False)
df.select(df["firstname"],df["lastname"]).show(truncate=False)

#1.1 using col()
from pyspark.sql.functions import col
df.select(col("firstname"),col("lastname")).show(truncate=False)

# Select columns by regular expression
df.select(df.colRegex("`^.*name*`")).show()

#2. Select All Columns From List
df.select(*columns).show(truncate=False)

#select All columns
df.select([col for col in df.columns]).show(truncate=False)
df.select("*").show(truncate=False)

#3. Select Columns by Index
#3.1 Selects first 3 columns and top 3 rows
df.select(df.columns[:3]).show(3,truncate=False)

#3.2 Selects columns 2 to 4  and top 3 rows
df.select(df.columns[2:4]).show(3,truncate=False)

root
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- country: string (nullable = true)
 |-- state: string (nullable = true)

+---------+--------+
|firstname|lastname|
+---------+--------+
|James    |Smith   |
|Michael  |Rose    |
|Robert   |Williams|
|Maria    |Jones   |
+---------+--------+

+---------+--------+
|firstname|lastname|
+---------+--------+
|James    |Smith   |
|Michael  |Rose    |
|Robert   |Williams|
|Maria    |Jones   |
+---------+--------+

+---------+--------+
|firstname|lastname|
+---------+--------+
|James    |Smith   |
|Michael  |Rose    |
|Robert   |Williams|
|Maria    |Jones   |
+---------+--------+

+---------+--------+
|firstname|lastname|
+---------+--------+
|James    |Smith   |
|Michael  |Rose    |
|Robert   |Williams|
|Maria    |Jones   |
+---------+--------+

+---------+--------+
|firstname|lastname|
+---------+--------+
|    James|   Smith|
|  Michael|    Rose|
|   Robert|Williams|
|    Maria|   Jones|
+---------+--------+

+---------+--------+-------+-----+
|firstname|lastname|country|state|
+---------+--------+-------+-----+
|James    |Smith   |USA    |CA   |
|Michael  |Rose    |USA    |NY   |
|Robert   |Williams|USA    |CA   |
|Maria    |Jones   |USA    |FL   |
+---------+--------+-------+-----+

+---------+--------+-------+-----+
|firstname|lastname|country|state|
+---------+--------+-------+-----+
|James    |Smith   |USA    |CA   |
|Michael  |Rose    |USA    |NY   |
|Robert   |Williams|USA    |CA   |
|Maria    |Jones   |USA    |FL   |
+---------+--------+-------+-----+

+---------+--------+-------+-----+
|firstname|lastname|country|state|
+---------+--------+-------+-----+
|James    |Smith   |USA    |CA   |
|Michael  |Rose    |USA    |NY   |
|Robert   |Williams|USA    |CA   |
|Maria    |Jones   |USA    |FL   |
+---------+--------+-------+-----+

+---------+--------+-------+
|firstname|lastname|country|
+---------+--------+-------+
|James    |Smith   |USA    |
|Michael  |Rose    |USA    |
|Robert   |Williams|USA    |
+---------+--------+-------+
only showing top 3 rows

+-------+-----+
|country|state|
+-------+-----+
|USA    |CA   |
|USA    |NY   |
|USA    |CA   |
+-------+-----+
only showing top 3 rows

In [ ]:
#3.4 Select Nested Struct Columns from PySpark
from pyspark.sql.types import StructType,StructField,StringType
# Create DataFrame with nested columns
data = [
        (("James",None,"Smith"),"OH","M"),
        (("Anna","Rose",""),"NY","F"),
        (("Julia","","Williams"),"OH","F"),
        (("Maria","Anne","Jones"),"NY","M"),
        (("Jen","Mary","Brown"),"NY","M"),
        (("Mike","Mary","Williams"),"OH","M")
        ]

schema = StructType([
    StructField("Name",StructType([
        StructField("Firstname",StringType(),True),
        StructField("Middlename",StringType(),True),
        StructField("Lastname",StringType(),True),
    ]),True),
    StructField("State",StringType(),True),
    StructField("gender",StringType(),True),
])

df2 = spark_session.createDataFrame(data,schema)
df2.printSchema()
df2.show(truncate=False)

#1: To select struct column name
df2.select("name").show(truncate=False)

#2: In order to select the specific column from a nested struct, you need to explicitly qualify the nested struct column name.
df2.select("Name.Firstname","Name.Lastname").show(truncate=False)

#3: To get all columns from the struct column, specify name.*
df2.select("Name.*").show(truncate=False)

root
 |-- Name: struct (nullable = true)
 |    |-- Firstname: string (nullable = true)
 |    |-- Middlename: string (nullable = true)
 |    |-- Lastname: string (nullable = true)
 |-- State: string (nullable = true)
 |-- gender: string (nullable = true)

+----------------------+-----+------+
|Name                  |State|gender|
+----------------------+-----+------+
|{James, NULL, Smith}  |OH   |M     |
|{Anna, Rose, }        |NY   |F     |
|{Julia, , Williams}   |OH   |F     |
|{Maria, Anne, Jones}  |NY   |M     |
|{Jen, Mary, Brown}    |NY   |M     |
|{Mike, Mary, Williams}|OH   |M     |
+----------------------+-----+------+

+----------------------+
|name                  |
+----------------------+
|{James, NULL, Smith}  |
|{Anna, Rose, }        |
|{Julia, , Williams}   |
|{Maria, Anne, Jones}  |
|{Jen, Mary, Brown}    |
|{Mike, Mary, Williams}|
+----------------------+

+---------+--------+
|Firstname|Lastname|
+---------+--------+
|James    |Smith   |
|Anna     |        |
|Julia    |Williams|
|Maria    |Jones   |
|Jen      |Brown   |
|Mike     |Williams|
+---------+--------+

+---------+----------+--------+
|Firstname|Middlename|Lastname|
+---------+----------+--------+
|James    |NULL      |Smith   |
|Anna     |Rose      |        |
|Julia    |          |Williams|
|Maria    |Anne      |Jones   |
|Jen      |Mary      |Brown   |
|Mike     |Mary      |Williams|
+---------+----------+--------+

In [ ]:
# PySpark Collect() – Retrieve data from DataFrame
# Consider below example:

dept = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("IT",40) \
  ]
deptColumns = ["dept_name","dept_id"]

df = spark_session.createDataFrame(dept,deptColumns)
df.collect()

#Return value of first row, first column
df.collect()[0][0]

#returns the first element in an array (1st row).
df.collect()[0]

Row(dept_name='Finance', dept_id=10)

In [ ]:
# PySpark withColumn() Usage with Examples
# consider below example
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]

df = spark_session.createDataFrame(data,columns)

#1: Change DataType using PySpark withColumn()
df.withColumn("salary",col("salary").cast("Integer")).printSchema()

#2: Update The Value of an Existing Column
df.withColumn("salary",col("salary")*100).show(truncate=False)

#3: Create a Column from an Existing
df.withColumn("copiedColumn",col("salary")* 1).show(truncate=False)

#4: Add a New Column using withColumn()
from pyspark.sql.functions import lit
df.withColumn("country",lit("USA")) \
  .withColumn("AnotherValue",lit("another_value")) \
  .show(truncate=False)

#5. Rename Column Name
df.withColumnRenamed("gender","sex").printSchema()

#6. Drop Column From PySpark DataFrame
df.drop("gender").printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|dob       |gender|salary|
+---------+----------+--------+----------+------+------+
|James    |          |Smith   |1991-04-01|M     |300000|
|Michael  |Rose      |        |2000-05-19|M     |400000|
|Robert   |          |Williams|1978-09-05|M     |400000|
|Maria    |Anne      |Jones   |1967-12-01|F     |400000|
|Jen      |Mary      |Brown   |1980-02-17|F     |-100  |
+---------+----------+--------+----------+------+------+

+---------+----------+--------+----------+------+------+------------+
|firstname|middlename|lastname|dob       |gender|salary|copiedColumn|
+---------+----------+--------+----------+------+------+------------+
|James    |          |Smith   |1991-04-01|M     |3000  |3000        |
|Michael  |Rose      |        |2000-05-19|M     |4000  |4000        |
|Robert   |          |Williams|1978-09-05|M     |4000  |4000        |
|Maria    |Anne      |Jones   |1967-12-01|F     |4000  |4000        |
|Jen      |Mary      |Brown   |1980-02-17|F     |-1    |-1          |
+---------+----------+--------+----------+------+------+------------+

+---------+----------+--------+----------+------+------+-------+-------------+
|firstname|middlename|lastname|dob       |gender|salary|country|AnotherValue |
+---------+----------+--------+----------+------+------+-------+-------------+
|James    |          |Smith   |1991-04-01|M     |3000  |USA    |another_value|
|Michael  |Rose      |        |2000-05-19|M     |4000  |USA    |another_value|
|Robert   |          |Williams|1978-09-05|M     |4000  |USA    |another_value|
|Maria    |Anne      |Jones   |1967-12-01|F     |4000  |USA    |another_value|
|Jen      |Mary      |Brown   |1980-02-17|F     |-1    |USA    |another_value|
+---------+----------+--------+----------+------+------+-------+-------------+

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- salary: long (nullable = true)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- salary: long (nullable = true)

In [ ]:
# PySpark withColumnRenamed to Rename Column on DataFrame
dataDF = [(('James','','Smith'),'1991-04-01','M',3000),
  (('Michael','Rose',''),'2000-05-19','M',4000),
  (('Robert','','Williams'),'1978-09-05','M',4000),
  (('Maria','Anne','Jones'),'1967-12-01','F',4000),
  (('Jen','Mary','Brown'),'1980-02-17','F',-1)
]


from pyspark.sql.types import StructType,StructField, StringType, IntegerType
schema = StructType([
        StructField('name', StructType([
             StructField('firstname', StringType(), True),
             StructField('middlename', StringType(), True),
             StructField('lastname', StringType(), True)
             ])),
         StructField('dob', StringType(), True),
         StructField('gender', StringType(), True),
         StructField('salary', IntegerType(), True)
         ])
df = spark_session.createDataFrame(dataDF,schema)
df.printSchema()

#1. PySpark withColumnRenamed – To rename DataFrame column name
df.withColumnRenamed("dob","DateOfBirth").printSchema()

#2. PySpark withColumnRenamed – To rename multiple columns
df.withColumnRenamed("dob","DateOfBirth") \
  .withColumnRenamed("gender","sex").printSchema()

#3. Using PySpark StructType – To rename a nested column in Dataframe
schema2 = StructType([
    StructField("fname",StringType()),
    StructField("middlename",StringType()),
    StructField("lname",StringType())])

df.select(col("name").cast(schema2), \
          col("dob"), col("gender"), col("salary")) \
  .printSchema()

#4. Using Select – To rename nested elements.
df.select(col("name.firstname").alias("fname"), \
  col("name.middlename").alias("mname"), \
  col("name.lastname").alias("lname"), \
  col("dob"),col("gender"),col("salary")) \
  .printSchema()

#5. Using PySpark DataFrame withColumn – To rename nested columns
df.withColumn("fname",col("name.firstname")) \
  .withColumn("mname",col("name.middlename")) \
  .withColumn("lname",col("name.lastname")) \
  .drop("name").printSchema()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- DateOfBirth: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- DateOfBirth: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- salary: integer (nullable = true)

root
 |-- name: struct (nullable = true)
 |    |-- fname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

root
 |-- fname: string (nullable = true)
 |-- mname: string (nullable = true)
 |-- lname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

root
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- fname: string (nullable = true)
 |-- mname: string (nullable = true)
 |-- lname: string (nullable = true)

In [ ]:
# 7. Using toDF() – To change all columns in a PySpark DataFrame
newColumns = ["newCol1","newCol2","newCol3","newCol4"]
df.toDF(*newColumns).printSchema()

In [ ]:
# PySpark where() & filter() for efficient data filtering
# Consider below example
# Imports
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField
from pyspark.sql.types import StringType, IntegerType, ArrayType

# Create SparkSession object
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

# Create data
data = [
    (("James","","Smith"),["Java","Scala","C++"],"OH","M"),
    (("Anna","Rose",""),["Spark","Java","C++"],"NY","F"),
    (("Julia","","Williams"),["CSharp","VB"],"OH","F"),
    (("Maria","Anne","Jones"),["CSharp","VB"],"NY","M"),
    (("Jen","Mary","Brown"),["CSharp","VB"],"NY","M"),
    (("Mike","Mary","Williams"),["Python","VB"],"OH","M")
 ]

# Create schema
schema = StructType([
     StructField('name', StructType([
        StructField('firstname', StringType(), True),
        StructField('middlename', StringType(), True),
         StructField('lastname', StringType(), True)
     ])),
     StructField('languages', ArrayType(StringType()), True),
     StructField('state', StringType(), True),
     StructField('gender', StringType(), True)
 ])

# Create dataframe
df = spark.createDataFrame(data = data, schema = schema)
df.printSchema()
df.show(truncate=False)

# 1: DataFrame filter() with Column Condition
df.filter(df.state == 'OH').show(truncate=False)

#2: Using not equal filter condition
df.filter(df.state != 'OH').show(truncate=False)
df.filter(~(df.state == 'OH')).show(truncate=False)

#3: Using col() function
df.filter(col("state") == 'OH').show(truncate=False)

#4: Filtering with SQL Expression
df.filter("gender == 'M'").show(truncate=False)
df.filter("gender != 'M'").show(truncate=False)
df.filter("gender <> 'M'").show(truncate=False)

#5. PySpark Filter with Multiple Conditions
df.filter((df.state == 'OH') & (df.gender == 'M')).show(truncate=False)
df.filter((col("state") == 'OH') | (col("gender") == 'M')).show(truncate=False)

#6. Filter Based on List Values
li=["OH","CA","DE"]
df.filter(df.state.isin(li)).show(truncate=False)

#7. Filter Based on Starts With, Ends With, Contains
df.filter(df.state.startswith("N")).show(truncate=False)
df.filter(df.state.endswith("O")).show(truncate=False)
df.filter(df.state.contains("O")).show(truncate=False)

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- languages: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- state: string (nullable = true)
 |-- gender: string (nullable = true)

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|{James, , Smith}      |[Java, Scala, C++]|OH   |M     |
|{Anna, Rose, }        |[Spark, Java, C++]|NY   |F     |
|{Julia, , Williams}   |[CSharp, VB]      |OH   |F     |
|{Maria, Anne, Jones}  |[CSharp, VB]      |NY   |M     |
|{Jen, Mary, Brown}    |[CSharp, VB]      |NY   |M     |
|{Mike, Mary, Williams}|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|{James, , Smith}      |[Java, Scala, C++]|OH   |M     |
|{Julia, , Williams}   |[CSharp, VB]      |OH   |F     |
|{Mike, Mary, Williams}|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

+--------------------+------------------+-----+------+
|name                |languages         |state|gender|
+--------------------+------------------+-----+------+
|{Anna, Rose, }      |[Spark, Java, C++]|NY   |F     |
|{Maria, Anne, Jones}|[CSharp, VB]      |NY   |M     |
|{Jen, Mary, Brown}  |[CSharp, VB]      |NY   |M     |
+--------------------+------------------+-----+------+

+--------------------+------------------+-----+------+
|name                |languages         |state|gender|
+--------------------+------------------+-----+------+
|{Anna, Rose, }      |[Spark, Java, C++]|NY   |F     |
|{Maria, Anne, Jones}|[CSharp, VB]      |NY   |M     |
|{Jen, Mary, Brown}  |[CSharp, VB]      |NY   |M     |
+--------------------+------------------+-----+------+

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|{James, , Smith}      |[Java, Scala, C++]|OH   |M     |
|{Julia, , Williams}   |[CSharp, VB]      |OH   |F     |
|{Mike, Mary, Williams}|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|{James, , Smith}      |[Java, Scala, C++]|OH   |M     |
|{Maria, Anne, Jones}  |[CSharp, VB]      |NY   |M     |
|{Jen, Mary, Brown}    |[CSharp, VB]      |NY   |M     |
|{Mike, Mary, Williams}|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

+-------------------+------------------+-----+------+
|name               |languages         |state|gender|
+-------------------+------------------+-----+------+
|{Anna, Rose, }     |[Spark, Java, C++]|NY   |F     |
|{Julia, , Williams}|[CSharp, VB]      |OH   |F     |
+-------------------+------------------+-----+------+

+-------------------+------------------+-----+------+
|name               |languages         |state|gender|
+-------------------+------------------+-----+------+
|{Anna, Rose, }     |[Spark, Java, C++]|NY   |F     |
|{Julia, , Williams}|[CSharp, VB]      |OH   |F     |
+-------------------+------------------+-----+------+

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|{James, , Smith}      |[Java, Scala, C++]|OH   |M     |
|{Mike, Mary, Williams}|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|{James, , Smith}      |[Java, Scala, C++]|OH   |M     |
|{Julia, , Williams}   |[CSharp, VB]      |OH   |F     |
|{Maria, Anne, Jones}  |[CSharp, VB]      |NY   |M     |
|{Jen, Mary, Brown}    |[CSharp, VB]      |NY   |M     |
|{Mike, Mary, Williams}|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|{James, , Smith}      |[Java, Scala, C++]|OH   |M     |
|{Julia, , Williams}   |[CSharp, VB]      |OH   |F     |
|{Mike, Mary, Williams}|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

+--------------------+------------------+-----+------+
|name                |languages         |state|gender|
+--------------------+------------------+-----+------+
|{Anna, Rose, }      |[Spark, Java, C++]|NY   |F     |
|{Maria, Anne, Jones}|[CSharp, VB]      |NY   |M     |
|{Jen, Mary, Brown}  |[CSharp, VB]      |NY   |M     |
+--------------------+------------------+-----+------+

+----+---------+-----+------+
|name|languages|state|gender|
+----+---------+-----+------+
+----+---------+-----+------+

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|{James, , Smith}      |[Java, Scala, C++]|OH   |M     |
|{Julia, , Williams}   |[CSharp, VB]      |OH   |F     |
|{Mike, Mary, Williams}|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

In [ ]:
# 7. Filtering with Regular Expression
# Prepare Data
data2 = [(2,"Michael Rose"),(3,"Robert Williams"),
     (4,"Rames Rose"),(5,"Rames rose")
  ]
df2 = spark.createDataFrame(data = data2, schema = ["id","name"])

df2.filter(col("name").like("%rose%")).show(truncate=False)

df2.filter(df2.name.rlike("(?i)^*rose$")).show()

+---+----------+
|id |name      |
+---+----------+
|5  |Rames rose|
+---+----------+

+---+------------+
| id|        name|
+---+------------+
|  2|Michael Rose|
|  4|  Rames Rose|
|  5|  Rames rose|
+---+------------+

In [ ]:
# Filtering Array column
from pyspark.sql.functions import array_contains
df.filter(array_contains(df.languages,"Java")) \
  .show(truncate=False)

# Filtering on Nested Struct columns
df.filter(df.name.firstname == 'James') \
  .show(truncate=False)

+----------------+------------------+-----+------+
|name            |languages         |state|gender|
+----------------+------------------+-----+------+
|{James, , Smith}|[Java, Scala, C++]|OH   |M     |
|{Anna, Rose, }  |[Spark, Java, C++]|NY   |F     |
+----------------+------------------+-----+------+

+----------------+------------------+-----+------+
|name            |languages         |state|gender|
+----------------+------------------+-----+------+
|{James, , Smith}|[Java, Scala, C++]|OH   |M     |
+----------------+------------------+-----+------+

In [ ]:
#PySpark Distinct to Drop Duplicate Rows
#Consider below example

# Prepare Data
data = [("James", "Sales", 3000), \
    ("Michael", "Sales", 4600), \
    ("Robert", "Sales", 4100), \
    ("Maria", "Finance", 3000), \
    ("James", "Sales", 3000), \
    ("Scott", "Finance", 3300), \
    ("Jen", "Finance", 3900), \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000), \
    ("Saif", "Sales", 4100) \
  ]

# Create DataFrame
columns= ["employee_name", "department", "salary"]

df = spark_session.createDataFrame(data,columns)
df.show(truncate=False)
originalDFCount = df.count()
print(f"Original DF Count : {originalDFCount}")
#1:Get Distinct Rows (By Comparing All Columns)
df.distinct().show(truncate=False)
DistinctCount = df.distinct().count()
print(f"Removed Duplicates DF Count : {DistinctCount}")

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

Original DF Count : 10
+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|Michael      |Sales     |4600  |
|James        |Sales     |3000  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|Jen          |Finance   |3900  |
|Scott        |Finance   |3300  |
|Kumar        |Marketing |2000  |
|Jeff         |Marketing |3000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

Removed Duplicates DF Count : 9

In [ ]:
#PySpark Distinct of Selected Multiple Columns
disDF = df.select("department","salary").distinct()
disDF.show(truncate=False)

dropDisDF = df.dropDuplicates(["department","salary"])
dropDisDF.show(truncate=False)

+----------+------+
|department|salary|
+----------+------+
|Sales     |4600  |
|Sales     |4100  |
|Finance   |3000  |
|Sales     |3000  |
|Finance   |3900  |
|Finance   |3300  |
|Marketing |2000  |
|Marketing |3000  |
+----------+------+

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|Maria        |Finance   |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Kumar        |Marketing |2000  |
|Jeff         |Marketing |3000  |
|James        |Sales     |3000  |
|Robert       |Sales     |4100  |
|Michael      |Sales     |4600  |
+-------------+----------+------+

In [ ]:
#PySpark orderBy() and sort() explained
#Consider below example
simpleData = [("James","Sales","NY",90000,34,10000), \
    ("Michael","Sales","NY",86000,56,20000), \
    ("Robert","Sales","CA",81000,30,23000), \
    ("Maria","Finance","CA",90000,24,23000), \
    ("Raman","Finance","CA",99000,40,24000), \
    ("Scott","Finance","NY",83000,36,19000), \
    ("Jen","Finance","NY",79000,53,15000), \
    ("Jeff","Marketing","CA",80000,25,18000), \
    ("Kumar","Marketing","NY",91000,50,21000) \
  ]
columns= ["employee_name","department","state","salary","age","bonus"]

df = spark_session.createDataFrame(simpleData,columns)
df.printSchema()

#1.DataFrame sorting using the sort() function
#df.sort("column1", "column2", ascending=[True, False])
from pyspark.sql.functions import col
df.sort("department","state").show(truncate=False)
df.sort(col("department"),col("state")).show(truncate=False)

#2.DataFrame sorting using orderBy() function
df.orderBy("department","state").show(truncate=False)
df.orderBy(col("department"),col("state")).show(truncate=False)

#3.Sort by Ascending (ASC)
df.sort(df.department.asc(),df.state.asc()).show(truncate=False)
df.sort(col("department").asc(),col("state").asc()).show(truncate=False)
df.sort(col("department").asc(),col("state").desc()).show(truncate=False)

#4.Sort by Descending (DESC)
df.sort(df.department.desc(),df.state.desc()).show(truncate=False)
df.sort(col("department").desc(),col("state").desc()).show(truncate=False)

#5. Using Raw SQL
df.createOrReplaceTempView("EMP")
spark_session.sql("select * from emp order by department desc").show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|Raman        |Finance   |CA   |99000 |40 |24000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|Raman        |Finance   |CA   |99000 |40 |24000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|Raman        |Finance   |CA   |99000 |40 |24000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
+-------------+----------+-----+------+---+-----+

In [ ]:
#PySpark Groupby Explained with Example
#consider below example

# Data
simpleData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]

# Create DataFrame
schema = ["employee_name","department","state","salary","age","bonus"]

df = spark_session.createDataFrame(simpleData,schema)

#1. PySpark groupBy on DataFrame Columns
df.groupBy("department").sum("salary").show(truncate=False)

#2. Using Multiple columns
df.groupBy("department","state").sum("salary","bonus").show(truncate=False)

#3. Running more aggregates at a time
from pyspark.sql.functions import sum,avg,max
df.groupBy("department") \
  .agg(sum("salary").alias("Total Salary"), \
       avg("salary").alias("avg_salary"), \
       sum("bonus").alias("Total Bonus"), \
       max("bonus").alias("Maximum Bonus") \
       ) \
       .show(truncate=False)

#4. Using filter on aggregate data
df.groupBy("department") \
  .agg(sum("salary").alias("Total Salary"), \
       avg("salary").alias("avg_salary"), \
       sum("bonus").alias("Total Bonus"), \
       max("bonus").alias("Maximum Bonus") \
       ) \
  .where(col("Total Bonus") >= 50000) \
  .show(truncate=False)

#5. PySpark SQL GROUP BY Query
df.createOrReplaceTempView("emp")
sql_string = """SELECT department,
       SUM(salary) AS sum_salary,
       AVG(salary) AS avg_salary,
       SUM(bonus) AS sum_bonus,
       MAX(bonus) AS max_bonus
FROM emp
GROUP BY department
HAVING SUM(bonus) >= 50000"""


spark_session.sql(sql_string).show(truncate=False)

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|Sales     |257000     |
|Finance   |351000     |
|Marketing |171000     |
+----------+-----------+

+----------+-----+-----------+----------+
|department|state|sum(salary)|sum(bonus)|
+----------+-----+-----------+----------+
|Sales     |CA   |81000      |23000     |
|Finance   |CA   |189000     |47000     |
|Sales     |NY   |176000     |30000     |
|Finance   |NY   |162000     |34000     |
|Marketing |NY   |91000      |21000     |
|Marketing |CA   |80000      |18000     |
+----------+-----+-----------+----------+

+----------+------------+-----------------+-----------+-------------+
|department|Total Salary|avg_salary       |Total Bonus|Maximum Bonus|
+----------+------------+-----------------+-----------+-------------+
|Sales     |257000      |85666.66666666667|53000      |23000        |
|Finance   |351000      |87750.0          |81000      |24000        |
|Marketing |171000      |85500.0          |39000      |21000        |
+----------+------------+-----------------+-----------+-------------+

+----------+------------+-----------------+-----------+-------------+
|department|Total Salary|avg_salary       |Total Bonus|Maximum Bonus|
+----------+------------+-----------------+-----------+-------------+
|Sales     |257000      |85666.66666666667|53000      |23000        |
|Finance   |351000      |87750.0          |81000      |24000        |
+----------+------------+-----------------+-----------+-------------+

+----------+----------+-----------------+---------+---------+
|department|sum_salary|avg_salary       |sum_bonus|max_bonus|
+----------+----------+-----------------+---------+---------+
|Sales     |257000    |85666.66666666667|53000    |23000    |
|Finance   |351000    |87750.0          |81000    |24000    |
+----------+----------+-----------------+---------+---------+

In [11]:
#PySpark Join Types | Join Two DataFrames
'''
Inner Join: Returns only the rows with matching keys in both DataFrames.
Left Join: Returns all rows from the left DataFrame and matching rows from the right DataFrame.
Right Join: Returns all rows from the right DataFrame and matching rows from the left DataFrame.
Full Outer Join: Returns all rows from both DataFrames, including matching and non-matching rows.
Left Semi Join: Returns all rows from the left DataFrame where there is a match in the right DataFrame.
Left Anti Join: Returns all rows from the left DataFrame where there is no match in the right DataFrame.
'''

emp = [(1,"Smith",-1,"2018","10","M",3000), \
       (2,"Rose",1,"2010","20","M",4000), \
       (3,"Williams",1,"2010","10","M",1000), \
       (4,"Jones",2,"2005","10","F",2000), \
       (5,"Brown",2,"2010","40","",-1), \
       (6,"Brown",2,"2010","50","",-1) \
]

empColumns = ["emp_id","name","superior_emp_id","year_joined", "emp_dept_id","gender","salary"]

dept = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("IT",40) \
]
deptColumns = ["dept_name","dept_id"]

empDF = spark_session.createDataFrame(emp,empColumns)
deptDF = spark_session.createDataFrame(dept,deptColumns)

#1: Inner Join
empDF.join(deptDF,empDF.emp_dept_id == deptDF.dept_id,"inner").show(truncate=False)

#2: Left Join
empDF.join(deptDF,empDF.emp_dept_id == deptDF.dept_id,"left").show(truncate=False)
empDF.join(deptDF,empDF.emp_dept_id == deptDF.dept_id,"leftouter").show(truncate=False)

#3: Righ Join
empDF.join(deptDF,empDF.emp_dept_id == deptDF.dept_id,"right").show(truncate=False)
empDF.join(deptDF,empDF.emp_dept_id == deptDF.dept_id,"rightouter").show(truncate=False)

#4: Full outer join
empDF.join(deptDF,empDF.emp_dept_id == deptDF.dept_id,"full").show(truncate=False)
empDF.join(deptDF,empDF.emp_dept_id == deptDF.dept_id,"fullouter").show(truncate=False)
empDF.join(deptDF,empDF.emp_dept_id == deptDF.dept_id,"outer").show(truncate=False)

#5: Left Semi join
empDF.join(deptDF,empDF.emp_dept_id == deptDF.dept_id,"leftsemi").show(truncate=False)

#6: Left Anti join
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"leftanti").show(truncate=False)

#7: Self join
from pyspark.sql.functions import col
empDF.alias("emp1").join(empDF.alias("emp2"), \
    col("emp1.superior_emp_id") == col("emp2.emp_id"),"inner") \
    .select(col("emp1.emp_id"),col("emp1.name"), \
      col("emp2.emp_id").alias("superior_emp_id"), \
      col("emp2.name").alias("superior_emp_name")) \
   .show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|6     |Brown   |2              |2010       |50         |      |-1    |NULL     |NULL   |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|6     |Brown   |2              |2010       |50         |      |-1    |NULL     |NULL   |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|NULL  |NULL    |NULL           |NULL       |NULL       |NULL  |NULL  |Sales    |30     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|NULL  |NULL    |NULL           |NULL       |NULL       |NULL  |NULL  |Sales    |30     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|NULL  |NULL    |NULL           |NULL       |NULL       |NULL  |NULL  |Sales    |30     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
|6     |Brown   |2              |2010       |50         |      |-1    |NULL     |NULL   |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|NULL  |NULL    |NULL           |NULL       |NULL       |NULL  |NULL  |Sales    |30     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
|6     |Brown   |2              |2010       |50         |      |-1    |NULL     |NULL   |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|NULL  |NULL    |NULL           |NULL       |NULL       |NULL  |NULL  |Sales    |30     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
|6     |Brown   |2              |2010       |50         |      |-1    |NULL     |NULL   |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |
|3     |Williams|1              |2010       |10         |M     |1000  |
|4     |Jones   |2              |2005       |10         |F     |2000  |
|2     |Rose    |1              |2010       |20         |M     |4000  |
|5     |Brown   |2              |2010       |40         |      |-1    |
+------+--------+---------------+-----------+-----------+------+------+

+------+-----+---------------+-----------+-----------+------+------+
|emp_id|name |superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+-----+---------------+-----------+-----------+------+------+
|6     |Brown|2              |2010       |50         |      |-1    |
+------+-----+---------------+-----------+-----------+------+------+

+------+--------+---------------+-----------------+
|emp_id|name    |superior_emp_id|superior_emp_name|
+------+--------+---------------+-----------------+
|2     |Rose    |1              |Smith            |
|3     |Williams|1              |Smith            |
|4     |Jones   |2              |Rose             |
|5     |Brown   |2              |Rose             |
|6     |Brown   |2              |Rose             |
+------+--------+---------------+-----------------+

In [ ]:
# Using SQL Expression
empDF.createOrReplaceTempView("emp")
deptDF.createOrReplaceTempView("dept")

spark_session.sql("select * from emp e, dept d where e.emp_dept_id == d.dept_id").show(truncate=False)
spark_session.sql("select * from emp e inner join dept d on e.emp_dept_id == d.dept_id").show(truncate=False)

# PySpark SQL Join on multiple DataFrames
# Join on multiple dataFrames
df1.join(df2,df1.id1 == df2.id2,"inner") \
   .join(df3,df1.id1 == df3.id3,"inner")

In [16]:
# PySpark Union and UnionAll Explained
# union and unionAll - it will merge two dataframes with duplicates

simpleData = [("James","Sales","NY",90000,34,10000), \
    ("Michael","Sales","NY",86000,56,20000), \
    ("Robert","Sales","CA",81000,30,23000), \
    ("Maria","Finance","CA",90000,24,23000) \
  ]

columns= ["employee_name","department","state","salary","age","bonus"]

simpleData2 = [("James","Sales","NY",90000,34,10000), \
    ("Maria","Finance","CA",90000,24,23000), \
    ("Jen","Finance","NY",79000,53,15000), \
    ("Jeff","Marketing","CA",80000,25,18000), \
    ("Kumar","Marketing","NY",91000,50,21000) \
  ]
columns2= ["employee_name","department","state","salary","age","bonus"]

df1 = spark_session.createDataFrame(simpleData,columns)
df2 = spark_session.createDataFrame(simpleData2,columns2)

unionDF = df1.union(df2)
unionDF.show(truncate=False)

unionAllDF = df1.unionAll(df2)
unionAllDF.show(truncate=False)

# Merge without Duplicates

MergeDistinctDF = df1.union(df2).distinct()
MergeDistinctDF.show(truncate=False)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|James        |Sales     |NY   |90000 |34 |10000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|James        |Sales     |NY   |90000 |34 |10000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
+-------------+----------+-----+------+---+-----+